* {
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: Helvetica, Arial, 'Hiragino Sans GB', 'Microsoft Yahei', 微软雅黑, STHeiti, 华文细黑, sans-serif;
}

.gesture {
	width: 100%;
	height: 100%;
	// padding: 0% 8% 2%;
	box-sizing: border-box;
	text-align: center;
	background-color: #f0f0f2;
	background-image: url('../images/small_points.png');
}

.gesture-header {
	padding: 1.6rem 0 1rem;
	box-sizing: border-box;
	font-size: 1.6rem;
	font-weight: 500;
	background-color: #f8f8f8;
	border-bottom: 1px solid #b5b7bd;
}

.gesture-header p{
	text-align: center;

}

#canvas {
	margin: 3rem auto 2rem;
}

.info-panel {
	margin-top: 2rem;
}

.info {
	font-size: 1.2rem;
}

.input-group {
	margin-top: 2rem;
}

.operator li:nth-child(n + 1) {
	margin-top: 1rem;
}